---
layout: default
lang: en
id: home
---

{% include section/cover.html lang=page.lang %}
{% include section/intro.html lang=page.lang %}
{% include section/trends.html lang=page.lang %}
{% include section/playlists.html lang=page.lang %}
{% include section/lyrics.html lang=page.lang %}
{% include section/most-used.html lang=page.lang %}
{% include section/decades.html lang=page.lang %}
{% include section/king.html lang=page.lang %}
{% include section/terms.html lang=page.lang %}
{% include section/deities.html lang=page.lang %}
<div class="d-flex flex-column flex-lg-row align-items-stretch flex-nowrap">
  {% include section/believers.html lang=page.lang %}
  {% include section/schools.html lang=page.lang %}
</div>
{% include section/battle.html lang=page.lang %}
{% include section/spotify.html lang=page.lang %}
{% include section/thank.html lang=page.lang %}

<script src="{{ '/assets/js/infoPopovers.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/playlists.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/kingsOfWords.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/relatedWords.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/mostUsedWords.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/spotify.js' | prepend: site.baseurl }}"></script>
