---
layout: default
slug: home
---

{% include section/cover.html %}
{% include section/intro.html %}
{% include section/trends.html %}
{% include section/playlists.html %}
{% include section/lyrics.html %}
{% include section/most-used.html %}
{% include section/decades.html %}
{% include section/king.html %}
{% include section/terms.html %}
{% include section/deities.html %}
<div class="d-flex flex-column flex-lg-row align-items-stretch flex-nowrap">
  {% include section/believers.html %}
  {% include section/schools.html %}
</div>
{% include section/battle.html %}
{% include section/spotify.html %}
{% include section/thank.html %}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  });
</script>
<script src="{{ '/assets/js/relatedWords.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/mostUsedWords.js' | prepend: site.baseurl }}"></script>
