---
layout: default
title: Recomendações sobre samba
lang: pt
id: recomendacoes
---

<section class="recommendations-intro">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h1 class="recommendations-intro__title">Recomendações<br>sobre samba</h1>
      </div>
    </div>
  </div>
</section>

<section class="recommendations-section recommendations-follow">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="recommendations-section__title">Para seguir</h2>
        {% for recommentation in site.data.recommendations.follow[page.lang] %}
          {% include components/recommendation-item.html
            title=recommentation.title
            description=recommentation.description
            link=recommentation.link
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="recommendations-section recommendations-watchlist">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="recommendations-section__title">Para assistir</h2>
        {% for recommentation in site.data.recommendations.watch[page.lang] %}
          {% include components/recommendation-item.html
            title=recommentation.title
            author=recommentation.author
            description=recommentation.description
            link=recommentation.link
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="recommendations-section recommendations-listen">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="recommendations-section__title">Para ouvir</h2>
        {% for recommentation in site.data.recommendations.listen[page.lang] %}
          {% include components/recommendation-item.html
            title=recommentation.title
            description=recommentation.description
            link=recommentation.link
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="recommendations-section recommendations-readings">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="recommendations-section__title">Para ler</h2>
        {% for recommentation in site.data.recommendations.read[page.lang] %}
          {% include components/recommendation-item.html
            title=recommentation.title
            author=recommentation.author
            description=recommentation.description
            link=recommentation.link
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
