<header class="section-header">
  <nav class="navbar navbar-dark navbar-expand-lg justify-content-between">
    <a class="navbar-brand section-header__logo" href="#">Léxico do Samba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Abrir Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse section-header__collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Sobre</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Bancos de Dados</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Recomendações sobre samba</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
