<head>
  <meta charset="utf-8">
  <title>{{ page.title }}{% if page.title %}  – {% endif %} {{ site.title }}</title>
  <meta property="og:title" content="Léxico do Samba">
  <meta property="og:description" content="Quais as palavras mais comuns em sambas? Que palavra é mais usada por cada sambista? Para responder essas e outras perguntas, o Léxico do Samba analisou 14,7 mil músicas, o que levou a 1,8 milhão de palavras.">
  <meta property="og:image" content="https://www.lexicodosamba.com.br/assets/img/social-thumb.png">
  <meta property="og:url" content="https://www.lexicodosamba.com.br/">
  <meta name="twitter:title" content="Léxico do Samba">
  <meta name="twitter:description" content="Quais as palavras mais comuns em sambas? Que palavra é mais usada por cada sambista? Para responder essas e outras perguntas, o Léxico do Samba analisou 14,7 mil músicas, o que levou a 1,8 milhão de palavras.">
  <meta name="twitter:image" content="https://www.lexicodosamba.com.br/assets/img/social-thumb.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://unpkg.com/jeezy@1.11.2/lib/jeezy.min.js"></script>
  <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CMQ02K8DYT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-CMQ02K8DYT');
  </script>
</head>
