$color-placeholder: rgba(0,0,0,.1);
$color-branco: rgba(255,255,255,1);
$color-preto: rgba(0,0,0,1);
$color-vermelho: rgba(249,73,38,1);
$color-bege: rgba(247,236,231,1);
$color-verde: rgba(4,127,42,1);
$color-rosa: rgba(255,161,188,1);
$color-marrom: rgba(118,58,21,1);
$color-azul: rgba(31,25,221,1);
$color-amarelo: rgba(255,161,39,1);
$color-verde-escuro: rgba(2,89,32,1);
$color-marrom-escuro: rgba(63,30,12,1);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
