---
---

* {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

@import "variables";
@import "breakpoints";
@import "font-face";

@include basic-font-face($braveold)

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

h1, h2 {
  font-family: 'braveold', Georgia, serif;
  font-style: normal;
  font-weight: 900;
  font-variant-ligatures: none;
  color: $color-preto;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}

.lead {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

p {
  font-size: 24px;
  line-height: 32px;
  color: $color-preto;
}

.container-fluid {
  max-width: 1600px;
  @include media-breakpoint-up(sm) {
    width: calc(100% - 16vw);
  }
}

.content-placeholder {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background: rgba(0, 0, 0, .1);
  margin-bottom: 32px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  &__row {
    margin-top: 80px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__title {
    margin-bottom: 32px;
  }
  &__subtitle {
    margin-bottom: 32px;
    .section__info {
      margin-bottom: 0;
    }
  }
  &__description {
    margin-bottom: 32px;
    .section__info {
      margin-bottom: 0;
      margin-top: 32px;
    }
  }
  &__info {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $color-preto;
    line-height: 16px;
    color: $color-preto;
    text-decoration: none;
    margin-bottom: 32px;
  }
  &-header {
    background-color: $color-vermelho;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-left: 16px;
    padding-right: 16px;
    @include media-breakpoint-up(lg) {
      padding-left: 32px;
      padding-right: 32px;
    }
    .navbar {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .navbar-toggler {
      border: none;
      padding: 4px;
    }
    .navbar-nav {
      padding-top: 32px;
      padding-bottom: 32px;
      @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
      }
      .nav-link {
        @include media-breakpoint-up(lg) {
          padding: 0;
          margin-left: 32px;
        }
        color: rgba($color-branco, .75);
        &:hover {
          color: rgba($color-branco, 1);
        }
      }
    }
    &__logo {
      font-family: 'braveold', Georgia, serif;
      font-variant-ligatures: none;
      font-weight: 900;
      font-style: normal;
      font-size: 32px;
      line-height: 32px;
      height: 32px;
      padding: 0;
      display: inline-block;
    }
    &__collapse {
      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }
  }
  &-cover {
    padding-top: 80px;
    background-color: $color-verde-escuro;
    position: relative;
    &__title {
      position: relative;
      z-index: 1;
    }
    &__logo {
      max-width: 80%;
    }
    &__illustration {
      width: 100%;
      margin-bottom: 0;
      z-index: 0;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        min-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &-intro {
    background-color: $color-vermelho;
    &__text {
      color: $color-preto;
    }
    &__more {

    }
    &__more-button {
      margin-top: 16px;
      width: 100%;
      text-decoration: none;
      font-weight: 900;
      color: $color-preto;
      &:hover {
        color: $color-preto;
      }
      &::after {
        content: "menos";
      }
      &.collapsed {
        &::after {
          content: "mais";
        }
      }
    }
  }
  &-trends {
    background-color: $color-bege;
    .section__title, .section__subtitle {
      color: $color-vermelho;
    }
  }
  &-playlists {
    background-color: $color-branco;
    .section__title {
      color: $color-vermelho;
    }
    .section__subtitle {
      color: $color-verde;
    }
  }
  &-lyrics {
    background-color: $color-verde-escuro;
    .section__title, .section__subtitle, p {
      color: $color-branco;
    }
    .section__info {
      color: $color-branco;
      border-color: $color-branco;
    }
    p {
      font-weight: 300;
    }
    .data-highlight {
      text-align: center;
      &__main {
        font-family: 'braveold', Georgia, serif;
        font-variant-ligatures: none;
        color: $color-rosa;
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 8px;
      }
      &__aux {
        color: $color-rosa;
      }
    }
  }
  &-most-used {
    background-color: $color-vermelho;
    .section__title, .section__subtitle, p {
      color: $color-branco;
    }
    .section__info {
      color: $color-branco;
      border-color: $color-branco;
    }
    p {
      font-weight: 300;
    }
    &__modal {
      .modal-content {
        background-color: $color-vermelho;
        border-radius: 0;
        border: none;
      }
    }
  }
  &-decades {
    background-color: $color-rosa;
    .section__title, .section__subtitle, p {
      color: $color-preto;
    }
  }
  &-king {
    background-color: $color-branco;
    .section__title, .section__subtitle {
      color: $color-preto;
    }
  }
  &-terms {
    background-color: $color-verde-escuro;
    .section__title, .section__subtitle, p {
      color: $color-rosa;
    }
    .section__info {
      color: $color-branco;
      border-color: $color-branco;
    }
    p {
      font-weight: 300;
    }
  }
  &-deities {
    background-color: $color-bege;
    .section__title, .section__subtitle {
      color: $color-vermelho;
    }
  }
  &-believers {
    background-color: $color-vermelho;
    width: 100%;
    .section__title, .section__subtitle, p {
      color: $color-preto;
    }
  }
  &-schools {
    background-color: $color-rosa;
    width: 100%;
    .section__title, .section__subtitle, p {
      color: $color-preto;
    }
  }
  &-battle {
    background-color: $color-bege;
    .section__title, .section__subtitle, p {
      color: $color-preto;
    }
  }
  &-spotify {
    background-color: $color-branco;
    .section__title, .section__subtitle {
      color: $color-vermelho;
    }
  }
  &-footer {
    background-color: $color-branco;
    position: relative;
    p {
      color: $color-vermelho;
    }
    &__copyright {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &__illustration {
      width: 100%;
      margin-bottom: 0;
      z-index: 0;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        // min-width: 800px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.related-list {
  counter-reset: search-item;
}

.search-item {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid $color-preto;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  &__term {
    width: 100%;
    padding-right: 12px;
    padding-left: 40px;
    position: relative;
    &::before {
      counter-increment: search-item;
      content: counter(search-item);
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      text-align: left;
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__graph {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
    &__graph-label {
      margin-right: 12px;
      text-align: right;
      font-size: 20px;
      min-width: 40px;
    }
    &__graph-bar {
      height: 24px;
      background-color: $color-verde;
    }
}

.related-words-cloud {
  .related-words-term {
    transition: opacity .25s ease;
  }
  &:hover {
    .related-words-term {
      opacity: .3;
    }
  }
}

.card-king {
  background-color: $color-bege;
  text-align: center;
  padding: 32px;
  margin-bottom: 24px;
  &__word {
    font-family: 'braveold', Georgia, serif;
    font-variant-ligatures: none;
    font-size: 56px;
    line-height: 64px;
    color: $color-vermelho;
    margin-bottom: 16px;
  }
  &__artist {
    font-family: 'braveold', Georgia, serif;
    font-variant-ligatures: none;
    font-size: 32px;
    line-height: 40px;
    color: $color-verde-escuro;
    margin-bottom: 8px;
  }
  &__frequency {
    color: $color-verde-escuro;
  }
  &__related-words {
    margin-top: 24px;
    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #838383;
    }
    .words {
      font-size: 16px;
      line-height: 24px;
      font-style: italic;
      color: #838383;
    }
  }
}
