<section class="section section-battle">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">”Esse jogo não é um a um”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Um duelo entre palavras. O objetivo dessa comparação é ver se alguma palavra aparece mais ou menos que o termo associado.</p>
          {% include section-info.html
            content="Para fazer a comparação, primeiro definimos um grupo de palavras que se sobressaíram ao analisarmos o banco de dados geral. Depois, definimos quais termos seriam comparados com cada uma dessas palavras. No fim, procuramos por essas novas palavras no banco de dados geral."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="row">
            <div class="col-12">
              <div class="flourish-embed flourish-chart" data-src="visualisation/4358997">
                <script src="https://public.flourish.studio/resources/embed.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
