<section class="section section-deities">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“É corpo, é alma, é religião”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>O samba tem a influência de diversas religiões e em especial as de matriz africana. Os terreiros estão na gênese do ritmo. A ligação umbilical entre essas religiões e o samba está também no sincretismo que as une ao catolicismo e religiões indígenas. Tudo isso está no samba e buscamos mapear parte da questão ao procurar por nomes de divindades nas músicas analisadas.</p>
          {% include section-info.html
            content="Para chegar a esse resultado, primeiro criamos um banco de dados com as divindades das religiões de matiz africana, indígenas e com termos associados ao catolicismo. Em seguida, procuramos por essas palavras no banco de dados geral. Além disso, agrupamos termos que se referem à mesma divindade, como Janaína e Iemanjá e unificamos grafias (Yemanjá e Iemanjá). Em alguns casos, o nome de cidades influenciou no resultado final, como em São Paulo."
          %}
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__content">
          <div class="flourish-embed flourish-hierarchy" data-src="visualisation/4304073">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ninguém possui essas características no nosso universo de dados -->
