<section class="section section-intro">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-10">
        <p class="section-intro__text">
          {% if page.lang == "pt" %}
          Pela primeira vez em mais de cem anos, teremos em 2021 um ano sem carnaval. De novo, uma pandemia cancelou a festa popular que simboliza o Brasil. Mas isso não é razão para um ano sem samba. Para embalar o único carnaval em que o melhor a se fazer é ficar em casa, fizemos esse léxico do samba. Ele nasceu da análise de 14,7 mil letras cantadas por 199 artistas.
          {% elsif page.lang == "en" %}
          For the first time in more than one hundred years there was no carnival in 2021. For the second time in history, a pandemic cancelled the popular party that symbolizes Brazil. It isn’t, however, a reason for a year without samba. To set the mood for the only carnival in which the best thing to do is to stay home we created this samba’s lexicon. It came to be after the analysis of 14,7 thousand lyrics from 199 artists.
          {% endif %}
        </p>
        <div class="section-intro__more">
          <div class="collapse" id="introMore">
            <div class="collapse-content">
              <p class="section-intro__text">
                {% if page.lang == "pt" %}
                Aqui, propomos um percurso não exaustivo por pontos interessantes que apareceram ao longo do trabalho. Ele não termina, entretanto, na quarta-feira. Há muito mais que pode ser feito com tudo o que foi coletado e por isso os bancos de dados estão disponíveis para quem se interessar. Agora é só escolher a melhor trilha sonora e começar o passeio. Boa viagem!
                {% elsif page.lang == "en" %}
                Here, we propose a non-exhaustive trail through interesting points derived from the dataset. It does not end in the Wednesday of Ashes (the day that closes carnival). There is much more that can be done with the collected data and that is why all the datasets used in this project are available. Now you just have to choose the best soundtrack and start the journey. Have a pleasant trip!
                {% endif %}
              </p>
            </div>
          </div>
          <a class="btn lead section-intro__more-button section-intro__more-button--{{ page.lang }} collapsed" data-bs-toggle="collapse" href="#introMore" role="button" aria-expanded="false" aria-controls="introMore">
            {% if page.lang == "pt" %}
            Ver
            {% elsif page.lang == "en" %}
            Show
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
