<section class="section section-intro">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-10">
        <p class="section-intro__text lead">Pela primeira vez em mais de cem anos, teremos em 2021 um ano sem carnaval. De novo, uma pandemia cancelou a festa popular que simboliza o Brasil. Mas isso não é razão para um ano sem samba. Para embalar o único carnaval em que o melhor a se fazer é ficar em casa, fizemos esse léxico do samba. Ele nasceu da análise de 14,7 mil letras cantadas por 199 artistas.</p>
        <div class="section-intro__more">
          <div class="collapse" id="introMore">
            <p class="section-intro__text lead">Aqui, propomos um percurso não exaustivo por pontos interessantes que apareceram ao longo do trabalho. Ele não termina, entretanto, na quarta-feira. Há muito mais que pode ser feito com tudo o que foi coletado e por isso os bancos de dados estão disponíveis para quem se interessar. Agora é só escolher a melhor trilha sonora e começar o passeio. Boa viagem!</p>
          </div>
          <a class="btn lead section-intro__more-button collapsed" data-toggle="collapse" href="#introMore" role="button" aria-expanded="false" aria-controls="introMore">
            Ver
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
