<section class="section section-king">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“O samba é minha nobreza, afinal que rei sou eu”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Quem é a rainha ou o rei de cada palavra? Para responder essa pergunta, calculamos a participação de cada termo no total utilizado por cada artista.</p>
          {% include section-info.html
            content="Seria injusto comparar totais para descobrir quem utilizou mais cada palavra. Artistas com mais músicas estariam sempre em primeiro lugar. Para corrigir isso, nós calculamos a participação de cada palavra no total utilizado pelo intérprete. Assim, é possível comparar alguém que tem 500 músicas com outra pessoa que tem “apenas” 50."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="tns-king">
            {% for palavra in site.data.reis-das-palavras %}
              <div class="tns-king__item">
                <div class="card-king flex-grow-1">
                  <p class="card-king__word">{{ palavra.palavra }}</p>
                  <p class="card-king__artist">{{ palavra.artista }}</p>
                  <p class="card-king__frequency">{{ palavra.frequencia }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="tns-custom-nav tns-king-nav d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

  let sliderKing = tns({
    container: '.tns-king',
    items: 1,
    gutter: 24,
    nav: false,
    controls: false,
    edgePadding: 32,
    responsive: {
      992: {
        disable: true
      }
    }
  });

  let kingNavContainer = d3.select(".tns-king-nav");

  let kingData = [
    {% for item in site.data.reis-das-palavras %}
    {"palavra": "{{ item.palavra }}"}{% unless forloop.last == true %},{% endunless %}
    {% endfor %}
  ];

  let kingNavButtons = kingNavContainer
    .selectAll("a").data(kingData)
    .enter().append("a")
      .attr("class", "tns-custom-nav__button")
      .text(function(d) {
        return d.palavra
      });

  kingNavButtons["_groups"][0][0].classList.add("active");

  kingNavButtons["_groups"][0].forEach((button, i) => {
    button.addEventListener('click', function (event) {
      sliderKing.goTo(i);
      document.querySelector(".tns-king-nav .tns-custom-nav__button.active").classList.remove("active");
      button.classList.add("active");
    });
  });

  sliderKing.events.on('indexChanged', function (event) {
    let slideIndex = event.displayIndex - 1;
    let lastSlideIndex = event.indexCached - event.cloneCount;
    let buttons = document.querySelectorAll(".tns-king-nav .tns-custom-nav__button");
    buttons[lastSlideIndex].classList.remove("active");
    buttons[slideIndex].classList.add("active");
  });

</script>
