{% if page.lang == "pt" %}
  {% assign kings_data = site.data.reis-das-palavras %}
{% elsif page.lang == "en" %}
  {% assign kings_data = site.data.reis-das-palavras_en %}
{% endif %}

<section class="section section-king">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">
          {% if page.lang == "pt" %}
            “O samba é minha nobreza, afinal que rei sou eu”
          {% elsif page.lang == "en" %}
            &quot;Samba is my nobility, after all what king am I&quot;
          {% endif %}
        </h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>
            {% if page.lang == "pt" %}
              Quem é a rainha ou o rei de cada palavra? Para responder essa pergunta, calculamos a participação de cada termo no total utilizado por cada artista.
            {% elsif page.lang == "en" %}
              Who is the queen or king of each word? To answer this question, we calculated the share of each term in the total used by each artist.
            {% endif %}
          </p>
          {% include section-info.html
            content_pt="Seria injusto comparar totais para descobrir quem utilizou mais cada palavra. Artistas com mais músicas estariam sempre em primeiro lugar. Para corrigir isso, nós calculamos a participação de cada palavra no total utilizado pelo intérprete. Assim, é possível comparar alguém que tem 500 músicas com outra pessoa que tem “apenas” 50. Artigos e outras palavra “vazias” de significado foram excluídas da contagem."
            content_en="It would be unfair to compare totals to find out who used each word the most. Artists with the most songs would always come first. To correct this, we calculate the share of each word in the total used by the performer. Thus, it is possible to compare someone who has 500 songs with someone who has &quot;only&quot; 50. Articles and other &quot;empty&quot; words of meaning were excluded from the count."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="tns-king">
            {% for palavra in kings_data %}
              <div class="tns-king__item">
                <div class="card-king flex-grow-1">
                  <p class="card-king__word">{{ palavra.palavra }}</p>
                  <p class="card-king__artist">{{ palavra.artista }}</p>
                  <p class="card-king__frequency">{{ palavra.frequencia }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="tns-custom-nav tns-king-nav d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</section>
