<section class="section section-king">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“O samba é minha nobreza, afinal que rei sou eu”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Quem é a rainha ou o rei de cada palavra? Para responder essa pergunta, calculamos a participação de cada termo no total utilizado por cada artista.</p>
          {% include section-info.html
            content="Seria injusto comparar totais para descobrir quem utilizou mais cada palavra. Artistas com mais músicas estariam sempre em primeiro lugar. Para corrigir isso, nós calculamos a participação de cada palavra no total utilizado pelo intérprete. Assim, é possível comparar alguém que tem 500 músicas com outra pessoa que tem “apenas” 50."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          {% include content-placeholder.html %}
        </div>
      </div>
    </div>
  </div>
</section>
