<section class="section section-lyrics">
  <div class="container-fluid">
    <div class="row justify-content-center section__row">
      <div class="col-12">
        <h2 class="section__title text-center">"É por isso que eu vivo no clube do samba"</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Como não era possível analisar todos os sambas já feitos, o universo tem suas limitações. Aqui você saberá um pouco mais sobre de onde os dados vieram antes de descobrir onde eles chegaram.</p>
          {% include section-info.html
            content="Para criar o universo a ser analisado, partimos da lista de artistas do samba da Wikipédia. Ela foi corrigida manualmente de forma pontual com a inclusão de um ou outro nome. Depois disso, todas as músicas listadas na página desse artista no letras.mus foram baixadas e corrigidas. Além disso, verbos foram transformados para a sua versão no infinitivo. Mesmo com todo o nosso esforço, o universo final continua com problemas: a maior parte dos artistas são do RJ e são homens. Sabemos que a contribuição de mulheres e de pessoas de fora do Rio de Janeiro foram e continuam sendo essenciais para o samba. O principal fator que definiu a lista final foi a quantidade de letras disponíveis do artista. Por conta disso, alguns/algumas sambistas que admiramos acabaram ficando de fora."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="data-highlight">
                <p class="data-highlight__main">199</p>
                <p class="data-highlight__aux">artistas analisados</p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="data-highlight">
                <p class="data-highlight__main">14.693</p>
                <p class="data-highlight__aux">músicas analisadas</p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="data-highlight">
                <p class="data-highlight__main">1,8 milhão</p>
                <p class="data-highlight__aux">de palavras</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row section__row">
      <div class="col-12 col-lg-4">
        <h3 class="section__subtitle text-center">
          Década de nascimento <br><span class="fw-light small">(excluindo grupos)</span>
        </h3>
        <div class="section__content">
          <div class="flourish-embed flourish-chart" data-src="visualisation/4253705">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <h3 class="section__subtitle text-center">
          Sexo
          <br><br>
        </h3>
        <div class="section__content">
          <div class="flourish-embed flourish-chart" data-src="visualisation/4253788" style="padding-left: 48px; padding-right: 48px;">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <h3 class="section__subtitle text-center">
          Estado de nascimento <br><span class="fw-light small">(excluindo grupos)</span>
        </h3>
        <div class="section__content">
          <div class="flourish-embed flourish-chart" data-src="visualisation/4253858">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
