<section class="section section-most-used">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section__header">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <h2 class="section__title text-center">“O que será que será que andam <wbr>sussurrando em versos e trovas?”</h2>
            </div>
            <div class="col-12 col-lg-8">
              <div class="section__description text-center">
                <p>Para chegar às palavras mais utilizadas nos sambas analisados não é suficiente apenas contá- las. Palavras vazias de sentido foram retiradas da análise. Caso isso não fosse feito, as palavras que liderariam o ranking seriam artigos como “o”, “a” e outros termos como “de”. Não seria muito divertido, né?</p>
                {% include section-info.html
                  content="Por padrão, o gráfico inicia com as 30 palavras mais faladas em todas as letras analisadas. A partir daí, você pode filtrar esses dados levando em conta intérpretes específicos ou características dos cantores: gênero, local de nascimento, década de nascimento. Cada seleção diminui o universo de análise e, assim, as 30 palavras mais usadas."
                %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="info-custom">
            <div class="filter-most-used">

              <div class="filter-most-used--desktop" data-filter-desktop>
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-8">

                    <p class="text-center">Filtrar por:</p>
                    <br>

                    <ul class="most-used-tabs nav nav-tabs justify-content-center" id="mostUsedTabs" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="filtrar-artista-tab" data-bs-toggle="tab" data-bs-target="#filtrar-artista" type="button" role="tab" aria-controls="filtrar-artista" aria-selected="true">Artistas</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="filtrar-dados-demograficos-tab" data-bs-toggle="tab" data-bs-target="#filtrar-dados-demograficos" type="button" role="tab" aria-controls="filtrar-dados-demograficos" aria-selected="false">Dados demográficos</button>
                      </li>
                    </ul>

                    <div class="most-used-tab-content tab-content" id="filters-tabContent">
                      <div class="tab-pane fade show active" id="filtrar-artista" role="tabpanel" aria-labelledby="filtrar-artista-tab">
                        <div class="form-group">
                          <label for="filterName">Selecione um(a) artista</label>
                          <select class="form-control" name="filterName" data-filter-dynamic="true" data-filter-key="Nome">
                            <option label="Todos" value="all">Todos</option>
                          </select>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="filtrar-dados-demograficos" role="tabpanel" aria-labelledby="filtrar-dados-demograficos-tab">
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group w-100">
                              <label for="filterGender">Gênero</label>
                              <select class="form-control" name="filterGender" data-filter-dynamic="true" data-filter-key="Gênero">
                                <option label="Todos" value="all">Todos</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group w-100">
                              <label for="filterDecade">Década Nasc.</label>
                              <select class="form-control" name="filterState" data-filter-dynamic="true" data-filter-key="Década de nascimento">
                                <option label="Todas" value="all">Todas</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group w-100">
                              <label for="filterState">Estado</label>
                              <select class="form-control" name="filterState" data-filter-dynamic="true" data-filter-key="UF de nascimento">
                                <option label="Todos" value="all">Todos</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-custom__viz">
              <div id="mostUsedViz" style="position: relative;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
