<section class="section section-playlists">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">O que as pessoas acham que é. Músicas em mais playlists</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Baseado em x playlists do spotify quais as músicas mais presentes dentro de cada dermo lorem ipsum dolor sit amet lorem consectetur lorem sit amet.</p>
          {% include section-info.html
            content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          {% include content-placeholder.html %}
        </div>
      </div>
    </div>
  </div>
</section>
