<section class="section section-playlists">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“Quem se atreve a me dizer do que é feito o samba”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Isso é samba ou pagode? Talvez você já tenha tido essa discussão. Uma das respostas possíveis para essa pergunta é ver o que as pessoas acham. Para isso, analisamos playlists para cada gênero no Spotify e selecionamos as músicas que mais aparecem.</p>
          {% include section-info.html
            content="O levantamento começou selecionando as 2 mil playlists mais populares contendo as palavras samba, pagode, samba raiz e samba enredo. Em todos os casos foram excluídas playlists que continham outra palavra desse grupo. Um exemplo: uma playlist chamada “Samba e Pagode” não contou para a análise já que seria muito difícil separar qual música é de cada gênero na opinião da pessoa que criou a lista de músicas. Os dados para essa lista lista foram coletados do spotify em junho de 2020."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h3 class="section__subtitle">Samba</h3>
              <div class="related-list">
                {% for song in site.data.playlists-samba limit:5 %}
                  {% include components/search-item.html
                    term = song.titulo
                  %}
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <h3 class="section__subtitle">Samba-raiz</h3>
              <div class="related-list">
                {% for song in site.data.playlists-samba-raiz limit:5 %}
                  {% include components/search-item.html
                    term = song.titulo
                  %}
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <h3 class="section__subtitle">Pagode</h3>
              <div class="related-list">
                {% for song in site.data.playlists-pagode limit:5 %}
                  {% include components/search-item.html
                    term = song.titulo
                  %}
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <h3 class="section__subtitle">Samba-enredo</h3>
              <div class="related-list">
                {% for song in site.data.playlists-samba-enredo limit:5 %}
                  {% include components/search-item.html
                    term = song.titulo
                  %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
