<section class="section section-playlists">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“Quem se atreve a me dizer do que é feito o samba”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Isso é samba ou pagode? Talvez você já tenha tido essa discussão. Uma das respostas possíveis para essa pergunta é ver o que as pessoas acham. Para isso, analisamos playlists para cada gênero no Spotify e selecionamos as músicas que mais aparecem.</p>
          {% include section-info.html
            content="O levantamento começou selecionando as 2 mil playlists mais populares contendo as palavras samba, pagode e samba raiz. Em todos os casos foram excluídas playlists que continham outra palavra desse grupo. Um exemplo: uma playlist chamada “Samba e Pagode” não contou para a análise já que seria muito difícil separar qual música é de cada gênero na opinião da pessoa que criou a lista de músicas."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          {% include content-placeholder.html %}
        </div>
      </div>
    </div>
  </div>
</section>
