<section class="section section-spotify">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">”Pra quem veio só sambar”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Não tinha jeito melhor de terminar do que com samba. Pra isso, montamos quatro playlists com as músicas que mais apareceram nas playlists analisadas para esse Léxico do Samba. Aproveite!</p>
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="spotify-playlist">
                <iframe src="https://open.spotify.com/embed/playlist/6e9QMHJL7TvH618thRSIvC" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="spotify-playlist">
                <iframe src="https://open.spotify.com/embed/playlist/5HLizPlElumhdsnH2pGByQ" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="spotify-playlist">
                <iframe src="https://open.spotify.com/embed/playlist/1kNlhsNXybtwUKfgmzAtD4" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="spotify-playlist">
                <iframe src="https://open.spotify.com/embed/playlist/5qAJW2NciwxxYjmc7FUJbD" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
