<section class="section section-spotify">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">
          {% if page.lang == "pt" %}
            ”Pra quem veio só sambar”
          {% elsif page.lang == "en" %}
            &quot;For those who came just to dance samba&quot;
          {% endif %}
        </h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>
            {% if page.lang == "pt" %}
              Não tinha jeito melhor de terminar do que com samba. Pra isso, montamos quatro playlists com as músicas que mais apareceram nas playlists analisadas para esse Léxico do Samba. Aproveite!
            {% elsif page.lang == "en" %}
              There was no better ending than with samba. For this, we have assembled four playlists with the songs that most appeared in the playlists analyzed for this Samba’s Lexicon. Enjoy!
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="tns-custom-nav tns-spotify-nav d-md-none"></div>
          <div class="tns-spotify">
            <div class="spotify-playlist">
              <iframe src="https://open.spotify.com/embed/playlist/6e9QMHJL7TvH618thRSIvC" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="spotify-playlist">
              <iframe src="https://open.spotify.com/embed/playlist/5HLizPlElumhdsnH2pGByQ" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="spotify-playlist">
              <iframe src="https://open.spotify.com/embed/playlist/1kNlhsNXybtwUKfgmzAtD4" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="spotify-playlist">
              <iframe src="https://open.spotify.com/embed/playlist/5qAJW2NciwxxYjmc7FUJbD" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        {% include components/social-share.html %}
      </div>
    </div>
  </div>
</section>
