<section class="section section-terms">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section__title text-center">“Diz-me com quem andas, te direi quem és”</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="section__description text-center">
          <p>Palavras não são ilhas, elas estão sempre conectadas umas as outras. Aqui analisamos com quem elas mais aparecem (antes ou depois).</p>
          {% include section-info.html
            content="Para obter esses dados, calculamos os termos que aparecem até dois espaços antes ou depois da palavra analisada. Na frase anterior “até”, “dois”, “antes” e “depois” seriam levados em conta caso o foco fosse a palavra “espaço”. Como é possível ver nesse exemplo, também excluímos artigos, conjunções e outras palavras vazias de significado."
          %}
        </div>
      </div>
      <div class="col-12">
        <div class="section__content">
          <div class="tns-custom-nav tns-custom-nav--dark tns-related-terms-nav d-lg-none"></div>
          <div class="row tns-related-terms" id="relatedTermsContainer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
